<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770484616895-io37euolvtsq7hueqflog47t4faqipjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770484616895-io37euolvtsq7hueqflog47t4faqipjb</string>
	<key>API_KEY</key>
	<string>AIzaSyDYHThAGSRTCVOSwnFVLNjz2T9Q3wkhVVY</string>
	<key>GCM_SENDER_ID</key>
	<string>770484616895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rydr.app</string>
	<key>PROJECT_ID</key>
	<string>rydr-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>rydr-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770484616895:ios:135336f08af5cd76</string>
	<key>DATABASE_URL</key>
	<string>https://rydr-flutter.firebaseio.com</string>
</dict>
</plist>