<?xml version="1.0" ?>
<!-- internalLogFile="/logs/nlog.txt" internalLogLevel="Error" internalLogIncludeTimestamp="true" -->
<nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.AWS.Logger" />
    </extensions>

    <variable name="AppName" value="RydrApi" />

    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="${level:padding=5} ${longdate}: ${message}" />
                <!-- NOTE: No ${exception:format=tostring} included in the console purposely, we format and log exceptions as part of the message, and
                            do not want those with newlines logged in prod... -->
      <target name="summaryLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${message}|${exception:format=tostring}"
              fileName="${basedir}/logs/summary.txt"
              archiveFileName="${basedir}/archives/summary_{#####}.txt"
              maxArchiveFiles="3" archiveEvery="Day" archiveNumbering="Sequence" />
      <target name="netCoreLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${event-properties:item=EventId_Id}|${message}|${exception:format=tostring}"
              fileName="${basedir}/logs/netcore.txt"
              archiveFileName="${basedir}/archives/netcore_{#####}.txt"
              maxArchiveFiles="1" archiveEvery="Day" archiveNumbering="Sequence" />
      <target name="errorLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${message}|${exception:format=type,tostring}"
              fileName="${basedir}/logs/error.txt"
              archiveFileName="${basedir}/archives/error_{#####}.txt"
              maxArchiveFiles="3" archiveEvery="Day" archiveNumbering="Sequence" />
        <target name="sqlConsole" xsi:type="ColoredConsole" layout="${message}" />
        <!--
        NOTE: We add the AWSTarget programatically in Program startup
        <target name="aws" xsi:type="AWSTarget" logGroup="Rydr.Api" region="us-east-2" />
        -->
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Trace" maxlevel="Info" final="true" enabled="true" />
        <logger name="MonitorService" minlevel="Trace" maxlevel="Info" final="true" enabled="true" />
        <logger name="OrmLite*" minlevel="Trace" writeTo="sqlConsole" final="true" enabled="false" />
        <logger name="LoggedStatsProfiler*" minlevel="Trace" writeTo="sqlConsole" final="true" enabled="true" />
        <!-- DISABLED FOR NOW TO MINIMIZE LOG COSTS <logger name="*" minlevel="Info" writeTo="console" enabled="true" /> -->
        <logger name="*" minlevel="Fatal" writeTo="console" enabled="true" />
        <logger name="*" minlevel="Warn" writeTo="errorLog" enabled="true" />
        <logger name="*" minlevel="Info" maxlevel="Info" writeTo="summaryLog" enabled="true" />
    </rules>
</nlog>
